DB_URL=
DB_USERNAME=
DB_PASSWORD=

FLYWAY_DB_URL=
FLYWAY_DB_USER=
FLYWAY_DB_PASSWORD=

AI_BASE_URL=
AI_DETECT_PATH=
AI_CONNECT_TIMEOUT=
AI_READ_TIMEOUT=

KAFKA_BOOTSTRAP_SERVERS=
AI_PROBLEM_KAFKA_ENABLED=
AI_PROBLEM_REQUEST_TOPIC=
AI_PROBLEM_RESULT_TOPIC=
AI_PROBLEM_DLT_TOPIC=
AI_PROBLEM_CONSUMER_GROUP=
AI_PROBLEM_OUTBOX_BATCH_SIZE=
AI_PROBLEM_OUTBOX_MAX_ATTEMPTS=
AI_PROBLEM_OUTBOX_PUBLISH_TIMEOUT=
AI_PROBLEM_STALE_CLAIM_AFTER=
AI_PROBLEM_OUTBOX_POLL_DELAY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
CHECKON_APP_DB_USER=
CHECKON_APP_DB_PASSWORD=

CHECKON_JWT_SECRET=
